@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poiret One", cursive;
}

body {
  background-color: rgb(13, 15, 46);
}

/* nav begin */

.nav-bar {
  background-color: rgba(113, 170, 184, 0.384);
  display: flex;
  align-content: center;
  align-items: center;
}

h1 {
  color: rgb(190, 214, 233);
  font-weight: 1000;
  font-size: x-large;
  letter-spacing: 2px;
  padding-left: 40px;
}

.info {
  display: flex;
  padding-left: 600px;
}

a {
  color: rgb(190, 214, 233);
  display: flex;
  text-decoration: none;
  padding: 25px;
}

a:hover {
  font-weight: 1000;
  border-top: 3px solid white;
  transition: 0.2s;
}

/* nav end */

/* content begin */

.content {
  color: rgb(190, 214, 233);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.content h2 {
  padding: 20px;
}

/* content end */
